<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>sview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background: white;
        }
        app>div {
            margin: 20px;
        }
    </style>
</head>
<body>
    <div id="app">
        <s-button type="colored" size="normal" @click="handleClick" :disabled="false">
            << First
        </s-button>

        <s-button-group>
            <s-button type="hollow" size="normal" @click="handleClick" :disabled="false">
                < Last
            </s-button>
            <s-button type="colored" size="normal" @click="handleClick" :disabled="false">
                2
            </s-button>
            <s-button type="plain" size="normal" @click="handleClick" :disabled="false">
                3
            </s-button>
            <s-button type="colored" size="normal" @click="handleClick" :disabled="true">
                Next >
            </s-button>
        </s-button-group>

        <div>
            <s-radio name="radio" label="备选项 1" v-model="picked" :disabled="true">备选项 1</s-radio>
            <s-radio name="radio" label="备选项 2" v-model="picked" :disabled="false">备选项 2</s-radio>
            <s-checkbox label="备选项 3" v-model="checked" :disabled="true">备选项 3</s-checkbox>
            <s-checkbox label="备选项 4" v-model="checked" :disabled="false">备选项 4</s-checkbox>
            <s-switch size="normal" v-model="switched"></s-switch>
        </div>

        <div>
            <s-input type="text" size="small" v-model="inputValue" placeholder="Username">
                <template slot="prepend">你真</template>
                <template slot="append">棒！</template>
            </s-input>
            <s-input type="text" size="normal" v-model="inputValue" placeholder="Password" :validator="validator"></s-input>
            <s-input type="password" size="large" v-model="inputValue" :disabled="true">
                <template slot="prepend">http://</template>
                <template slot="append">.com</template>
            </s-input>
        </div>

        <div>
            <s-select v-model="selected" :options="options" size="normal" placeholder="请选择..." @indicatorclick="handleIndicatorClick" :disabled="false"></s-select>
        </div>

        <div>
            <s-switch size="normal" v-model="switched"></s-switch>
        </div>

        <div>
            <s-slider v-model="slided" :min="0" :max="100" :step-value="20" :track-width="200" :should-show-stops="true"></s-slider>
        </div>

        <div>
            <s-slider v-model="slided" :min="0" :max="100" :step-value="20" :track-width="200" :disabled="true"></s-slider>
        </div>
    </div>
    <script src="/dist/main.bundle.js"></script>
</body>
</html>
