<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>sview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/sview.bundle.css">
    <link rel="stylesheet" href="/dist/index.bundle.css">
</head>
<body>
    <div id="app" style="margin: 16px">
        <s-button mode="normal raised" color-style="primary" @click="handleClick" :disabled="false">
            <s-icon name="github"></s-icon> GitHub
        </s-button>
        <s-button mode="normal raised" color-style="accent" @click="handleClick" :disabled="false">
            <s-icon name="github"></s-icon> GitHub
        </s-button>
        <s-button mode="normal flat" @click="handleClick" :disabled="false">
            <s-icon name="github"></s-icon> GitHub
        </s-button>
        <s-button mode="fab raised" color-style="#a391b1">
            <s-icon name="github"></s-icon>
        </s-button>
        <s-button mode="mini-fab raised" color-style="accent">
            <s-icon name="github"></s-icon>
        </s-button>
        <s-button mode="normal raised" color-style="#4313e9" @click="handleClick" :disabled="true">
            <s-icon name="github"></s-icon> GitHub
        </s-button>
        <s-button mode="normal flat" @click="handleClick" :disabled="true">
            <s-icon name="github"></s-icon> GitHub
        </s-button>
        <s-button mode="mini-fab raised" color-style="#4313e9" :disabled="true">
            <s-icon name="github"></s-icon>
        </s-button>


        <s-button-group style="margin: 0 0">
            <s-button type="hollow" size="normal" @click="handleClick" :disabled="false">
                < Last
            </s-button>
            <s-button type="colored" size="normal" @click="handleClick" :disabled="false">
                2
            </s-button>
            <s-button type="plain" size="normal" @click="handleClick" :disabled="false">
                3
            </s-button>
            <s-button type="colored" size="normal" @click="handleClick" :disabled="false">
                Next >
            </s-button>
        </s-button-group>

        <div>
            <s-radio name="radio" label="备选项 1" v-model="picked" :disabled="false">备选项 1</s-radio>
            <s-radio name="radio" label="备选项 2" v-model="picked" :disabled="false">备选项 2</s-radio>
            <s-checkbox label="备选项 3" v-model="checked" :disabled="true">备选项 3</s-checkbox>
            <s-checkbox label="备选项 4" v-model="checked" :disabled="false">备选项 4</s-checkbox>
            <s-switch v-model="switched"></s-switch>
            <s-switch v-model="switched" :disabled="true"></s-switch>
        </div>

        <div>
            <s-input type="text" size="small" v-model="inputValue" placeholder="Username">
                <template slot="prepend">你真</template>
                <template slot="append">棒！</template>
            </s-input>
            <s-input type="text" size="normal" v-model="inputValue" placeholder="Password" :validator="validator"></s-input>
            <s-input type="password" size="large" v-model="inputValue" :disabled="true">
                <template slot="prepend">http://</template>
                <template slot="append">.com</template>
            </s-input>
        </div>

        <div>
            <s-select v-model="selected" :options="options" size="normal" placeholder="请选择..." @indicatorclick="handleIndicatorClick" :disabled="false"></s-select>
        </div>

        <div>
            <s-slider v-model="slided" :min="0" :max="100" :step="20" :track-width="200" :show-stops="true"></s-slider>
            <s-slider v-model="slided" :min="0" :max="100" :step="20" :track-width="200" :show-stops="true" :show-value="true"></s-slider>
        </div>

        <div>
            <s-slider v-model="slided" :min="0" :max="100" :step="20" :track-width="200" :disabled="true"></s-slider>
        </div>

        <div style="margin-top: 6px;">
            <s-badge :value="100" :max="99">
                <s-button mode="normal raised" color-style="primary">普通</s-button>
            </s-badge>
            <s-badge :value="6" :max="99" color-style="primary" style="margin: 0 24px;">
                <s-button mode="normal flat" >越界</s-button>
            </s-badge>
            <s-badge :value="66" :max="99" color-style="primary" :is-dot="true">
                <s-button mode="normal raised" >点</s-button>
            </s-badge>
        </div>

        <div style="margin-top: 6px;">
            <s-badge :value="6" :max="99" :is-dot="true">
                <s-button type="hollow" size="normal">
                    <s-icon name="github"></s-icon> GitHub
                </s-button>
            </s-badge>
        </div>

        <div style="margin-top: 6px;">
            <s-picker :items="yearItems" v-model="pickedYear"></s-picker>
            <span>年</span>
            <s-picker :items="monthItems" v-model="pickedMonth"></s-picker>
            <span>月</span>
            <s-picker :items="dateItems" v-model="pickedDay"></s-picker>
            <span>日</span>
        </div>

        <div>
            <s-date-picker v-model="pickedDate" placeholder="请选择日期"></s-date-picker>
        </div>
    </div>

    <!--<script src="/dist/sview.bundle.js"></script>-->
    <script src="/dist/index.bundle.js"></script>
</body>
</html>
