:root {
    --primary-color: #20A0FF;
    --primary-light-color: #58B7FF;
    --primary-dark-color: #1D8CE0;
    --accent-color: #13CE66;
    --error-color: #FF4949;
    --black: #1F2D3D;
    --light-black: #324057;
    --extra-light-black: #475669;
    --silver: #8492A6;
    --light-silver: #99A9BF;
    --extra-light-silver: #C0CCDA;
    --gray: #D3DCE6;
    --light-gray: #E5E9F2;
    --extra-light-gray: #EFF2F7;
    --white: #FFFFFF;
    --dark-white: #F9FAFC;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}